.wrapper{
  
    margin-top: 5rem;
}

.left{
  
    text-align: center;
    background-color: #1B2731;
    margin-right: 10px;
    height: 3.5rem;
}
.center{
    text-align:left;
    background-color: #1B2731;
    margin-right: 5px;
    height: 3.5rem;
}
.right{
    margin-right: 10px;
    text-align:left;
}
.formBody{
    background-color: lightgrey;
    margin-top: 5px;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.secionHead{
    background-color: lightgrey;
    color: Gray;
    border-radius: 20px;
}
.grayText
{
    color: grey;
}
.generalInfosForm{
    background-color: white;
    border-radius: 20px;
    height: 100%;
    padding-left: 5rem;
    padding-bottom: 10px;
    margin-bottom: 0px 8px 8px 8px;
}
.previwDiv
{
    background-color: white;
    margin: 8px;
    height: 100%;
    border-radius: 20px;
}
.visualFormDiv
{
    background-color: white;
    border-radius: 20px;
    margin: 8px;
    height: 100%;
    padding-left: 10px;
}
.visualManagement
{
    background-color: lightgrey;
}
.MarketingDiv
{
    margin: 25px 8px 8px 8px;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
}
.SearchManagementHead
{
    background-color: white;
    width: 100%;
    border-radius: 20px;
    margin: 8px;
    padding: 8px;
}
.FirstInput
{
    border-radius: 20px;
    padding: 8px;
    background-color: white;
    margin: 8px;
}

.SecondInput
{
    border-radius: 20px;
    padding: 8px;
    background-color: white;
    margin: 8px;
}
.LabelForm
{
    margin-top: 5px;
    color: gray;
    font-size: 15px;
}
.fit-picture {
    width: 250px;
}