.wrapper{
    margin-top: 5rem;
}

.left{
  
    text-align: center;
    background-color: #1B2731;
    margin-right: 10px;
    height: 4.5rem;
}
.center{
    text-align:left;
    background-color: #1B2731;
    margin-right: 10px;
    height: 4.5rem;
}
